/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

/* Navbar-1 */
.navbar {
    border-bottom: 2px solid #ddd;
}

.custom-navbar {
    padding-top: 1px; /* Ajusta el relleno superior */
    padding-bottom: 1px; /* Ajusta el relleno inferior */
    height: 40px; /* Ajusta la altura automáticamente */
    background-color: #ffffff; /* Fondo blanco */
}

a {
    outline: none; /* Elimina el recuadro */
    box-shadow: none; /* Elimina cualquier sombra que pueda aparecer */
}

a:focus {
    outline: none; /* Asegúrate de que no aparezca al enfocar */
    box-shadow: none; /* Elimina cualquier sombra al enfocar */
    text-decoration: underline; /* Alternativa accesible */
}

/* Footer */
footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 15px 0;
}

footer a {
    color: #f8f9fa;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}





